# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\BaiduNetdiskDownload\pytorch-openai-transformer-lm-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
